.beforeLabel:before {
    content: "this label should be spoken before the associated element.";
    position: absolute;
    clip: rect(0 0 0 0);
}

.afterLabel:after {
    content: "this label should be spoken after the associated element.";
    position: absolute;
    clip: rect(0 0 0 0);
}

.zero {
    margin: 0px;
    padding: 0px;
    width:  0px;
    height: 0px;
}

.reader-only {
    position: absolute;
    clip: rect(0 0 0 0);
}

.screenreader-only {
    display: none;
}

@media speech {
    .screenreader-only {
        display: inherit;
    }
}